# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
env/

# Environments / secrets
.env
.env.*
!.env.example
*.pem
*.key
credentials.json
service-account*.json

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data / artifacts (no real data in git)
data/raw/
data/bronze/
data/silver/
data/gold/
*.parquet
*.duckdb
!data/sample/*.parquet
!data/sample/*.csv

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Great Expectations runtime
src/quality/expectations/uncommitted/

# Test caches
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Local infra
volumes/
minio-data/
gcs-data/
